{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Домашняя Техника</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="page-header">
            <a href="{% url "index" %}" class="back-btn">
                <i class="fas fa-arrow-left"></i>
            </a>
            <h1>Кулинарные рецепты</h1>
        </header>

        <main class="page-content">

            <div class="recipes-grid">
                <div class="recipe-card" data-category="blender">
                    <div class="recipe-image">
                        <img src="{{ cooking_appliance.image.url }}" alt="">
                    </div>
                    <div class="recipe-content">
                        <h3>{{ cooking_appliance.name }}</h3>
                        <h4>Описание:</h4>
                        <p>{{ cooking_appliance.description }}</p>
                        <h4>Характеристики</h4>
                        <p>{{ cooking_appliance.features }}</p>
                        
                        <div class="shop-buttons">
                            <a href="{{ cooking_appliance.ozon_link }}" target="_blank" class="shop-btn ozon-btn">Ozon</a>
                            <a href="{{ cooking_appliance.wildberries_link }}" target="_blank" class="shop-btn wb-btn">Wildberries</a>
                        </div>
                        <div class="price-blocks">
                            {% if cooking_appliance.discount %}
                                <div class="old-price">Старая цена: <span>{{ cooking_appliance.price }} ₽</span></div>
                                <div class="new-price">Цена со скидкой: <span>{{ cooking_appliance.discount}} ₽</span></div>
                            {% else %}
                            <div class="new-price">Цена: <span>{{ cooking_appliance.price }} ₽</span></div>
                            {% endif %}
                        </div>
                    </div>
                </div>
        </main>
    </div>
</body>
</html>